extends ../layout
block content
    .container
        .login-form
            .main-div
                .panel
                    h2 Recuperacion de password
                    p Revise su cuenta de email, le llegaran allí las instrucciones de reseteo de password.
