extends ../layout
block content 
  .container
    .login-form
      .main-div
        .panel
          if info && info.message
            div.alert.alert-danger
              = info.message
          h2 Admin Login
          p Por favor, ingrese su email y password
        form#Login(action='/login' method='post')
          .form-group
            input#username.form-control(type='email' placeholder='Email Address' name='username')
          .form-group
            input#pwd.form-control(type='password' placeholder='Password' name='password')
          .forgot
            a(href='/forgotPassword') Olvidé mi password


          button.btn.btn-primary(type='submit') Login
